$header-font: 'Oswald', Arial, sans-serif;
$primary-font: 'Raleway', sans-serif;
$body-font: 'Raleway', sans-serif;
$feature: 'Fredoka One', cursive;

$dark:#263238;

// Typography

$header-font: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$body-font: 'Raleway', sans-serif;
$other-font:'Pacifico', cursive;


$main:#f8c4d0;
$feature:#e4000d;
$other:#c31e22;
$darkest:#5F0017;
$light :#f3f0e3;


